html {
    font-size: 16px;
    background-color: black;
    text-align: center;
    font-family: verdana;
}

/* Header */
h1 {
    font-size: 3.125rem;
    font-weight: normal;
    color: white;
}

a {
    color: aquamarine;
    font-size: 1rem;
}

/* Image */
.image h1 {
    font-size: 2.625rem;
    font-weight: 300;
}

.image h2 {
    font-size: 1.3125rem;
    color: gray;
}

